{% extends 'base.html' %}

{% block content %}
    <h1>Бронювання</h1>
    <form action="" method="post">
        {% csrf_token %}
        <label for="start_date">Дата заїзду</label>
        <input type="date" name="start_date" value="{{ start_date }}" id="start_date" required>
                    
        <label for="end_date">Дата виїзду</label>
        <input type="date" name="end_date" value="{{ end_date }}" required>
                    
        <label for="phone">Введіть контактний номер телефону:</label>
        <input name="phone" type="tel" required>
                    
        <button type="submit">Submit</button>
    </form>
       
    <img src="{{ room.image.url }}">
    
    <h5> {{ room.number }} - {{ room.category }}</h5>
    <p>Місць: {{room.capacity}}</p>
    <p>{{room.location}}</p>
{% endblock %}