<nav>
    <a href="{% url 'index' %}">BookingApp</a>
      <ul>
        <li>
          <a href="{% url 'index' %}">Пошук номера</a>
        </li>
        <li class="nav-item">
          <a href="{% url 'rooms' %}">Наші номери</a>
        </li>
        <li>
          <a href="{% url 'about' %}">Про нас</a>
        </li>
        {% if user.is_authenticated %}
          <li><a href="{% url 'booking_history' %}">Мої бронювання</a></li>
        {% endif %}
        <li>
          {% if user.is_authenticated %}
            <a href="{% url 'logout' %}">Вийти ({{ user.username }})</a>
          {% else %}
              <a href="{% url 'login' %}">Увійти</a>
          {% endif %}
        </li>
      </ul>
</nav>